body {
    background: linear-gradient(180deg,  #2c4c40, #090f10, #2c4c40); /* #000428 / #004e92, #090f10 / #12373f */
    color: rgb(127, 255, 212);
    font-family: 'Orbitron', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

body::before {
    content: "";
    background: url("../imagens/1920x1080-38.gif") no-repeat center/cover;
    opacity: 0.1; /* Define a opacidade*/
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; 
}

.container {
    width: 90%;
    height: 90vh;
    display: flex;
    gap: 20px; /*Espaço entre o terminal e o data system*/
    background: rgba(0, 0, 0, 0.5);
    padding: 20px; /*Espaço ao Redor do container*/
    border-radius: 8px;
    /*box-shadow: 0 0px 10px aquamarine;*/ /*Sombra em volta do container*/ /*#f7258580*/

    /*
    border: 2px solid aquamarine;
    box-shadow: 0 0 30px aquamarine;
    flex-direction: column;
    justify-content: space-between;
    */
}

.bug {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    opacity: 0.3; /* Define a opacidade*/
    position: absolute; 
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; 
}

.terminal {
    width: 75%;
    background: rgba(0, 0, 0, 0.0); /*Fundo do Terminal deve ser tranparente*/
    padding: 20px;
    border-radius: 8px;

}

.title {
    text-align: center;
    color: aquamarine;
    font-size: 36px;
    margin-left: 400px;
    margin-bottom: 20px;
    -webkit-text-stroke-color: #3f9d9d;
    -webkit-text-stroke-width: 2px;
}

.code-area {
    height: 65dvh;
    max-height: 80vh !important;
    overflow-y: auto;
    padding: 10px;
    background: rgba(61, 68, 81, 0.4); /*Chat do Terminal deve ser tranparente*/
    border-radius: 8px;
}

.line {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    color: #fff;
    font-size: 32px;
    flex-wrap: wrap; /* Permite que as linhas quebrem */
    word-break: break-word;
}

.command {
    color: #9898f9; /*#9898f9*/ /*#db2376*/
    font-weight: bold;

}

.command1 {
    color: rgb(64, 255, 191); /*#00FFFF*/ /*#9b08d7*/
    font-weight: bold;
}

.command2 {
    color: #afafff; /*#afafff*/ /*#ff0073*/
    font-weight: bold;
    text-decoration: underline;
}

.path {
    color: #ff00d9; /*#e0b0ff / #db7093*/ /*#4cc9f0*/
}

.input {
    color: #60adad; /*#FFF*/
}

.input-area {
    width: 100%;
    display: flex;
    align-items: stretch;
    margin-top: 20px;
}

.input-area input {
    flex: 1;
    padding: 15px;
    font-size: 36px; /*1 rem = 16px | .5rem = 8px | .25 = 4px*/
    background: #282c34;
    border: 1px solid aquamarine;
    border-radius: 8px;
    color: aquamarine; /*Texto Escrito*/
    caret-color: aquamarine; /*Cor da linha de escrita*/
    font-family: 'Orbitron', sans-serif;
    outline: none;
}

.system-data {
    width: 25%;
    min-width: 25%;
    background: rgba(0, 0, 0, 0.0); /*Fundo do Data System deve ser tranparente*/
    padding: 20px;
    margin-top: 100px;
    border-radius: 8px;
    font-size: 32px;
}

.data-block {
    margin-bottom: 20px;
}

.data-block h2 {
    color: aquamarine;
    -webkit-text-stroke-color: #3f9d9d;
    -webkit-text-stroke-width: 2px;
    font-size: 48px;
    margin-bottom: 10px;
}

.data-block ul {
    list-style: none;
    padding: 0;
}

.data-block li {
    color: aquamarine;
    margin-bottom: 5px;
}

.data-block li strong {
    color: #3f9d9d;
}

/*-------------------------------------------------------------------------------------------------*/

